/* Start Global */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* End Global */

/* Start Main section */
.col {
  cursor: pointer;
}
.col .layer {
  background-color: #f9f6f6ca;
  top: 100%;
  transition: 0.5s all;
}
.col:hover .layer {
  top: 0;
}

.layerBox {
  z-index: 999;
  display: none;
}
.first {
  z-index: 999999;
}
/* End Main section */

/* Start sideBar */
.mainSideBar > ul li i {
  opacity: 0;
  transition: all 0.3s;
}
.mainSideBar ul li:hover i {
  opacity: 1;
}
aside img {
  width: 50px;
}
aside {
  z-index: 9999;
}
aside #mainSideBar {
  background-color: #0d0d0d;
}

#sidebarClose {
  display: none;
}
aside footer p {
  white-space: nowrap;
}
#mainSideBar .mainSideBar > ul li {
  top: 300px;
}
#mainSideBar .mainSideBar > ul li {
  transition: 0.3s all;
}
#mainSideBar .mainSideBar > ul li:hover {
  color: yellow;
  margin-left: 10px;
}
/* End sideBar */
/* Start Search Inputs */
.searchInputs {
  display: none;
}
#searchInputs input:focus {
  caret-color: white;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.495);
  font-weight: 400;
}
#errorMesage {
  opacity: 0;
}
/* End Search Inputs */

/* start Details */
#details {
  display: none;
}
#nextBtn,#prevBtn {
  transition:all 0.3s;
}
.disabledBtn{
  animation: animateDisabledBtn 0.3s;
}
@keyframes animateDisabledBtn {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
    
  }
  50% {
    transform: scale(1);
    
  }
  100% {
    transform: scale(1.1);

  }
}
.light {
  left: 0;
  top: 0;
}
.dark {
  left: 0;
  top: 0;
  display: none;
}
.logoContainer {
  width: 50px;
  height: 80px;
  cursor: pointer;
}
.logoContainer:hover img{
  animation: logoHover 0.5s alternate infinite,logoUp forwards 0.5s;
}
@keyframes logoHover {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
    
  }
  100% {
    
    transform: rotate(-10deg);
  }
}
@keyframes logoUp {
  from {
    top: 0;
  }
  to {
    top: -10px;
  }
}
#darkMoodAlret,#lightMoodAlret {
  bottom: -40%;
  left: 0;
  transition: 0.5s;
  font-size: 10px;
}

.logoContainer:hover #darkMoodAlret,.logoContainer:hover #lightMoodAlret{
  bottom: -50%;

}
/* End Details */
